<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p><%= @event.title %> is in <%= @time %> !</p>
    <p>Event date: <%= @event.date.strftime("%A, %B %-d, %Y")%></p>
    <p>Missing a gift for: </p>
    <% @people.each do |person| %>
    <%= person %><br/>
    <% end %>
    <p>Find a gift on Gift Wrap: <%= @url %></p>
  </body>
</html>
